.container {
   padding: 16px 16px 16px 16px;
   display: flex;
   flex-direction: column;
   flex-grow: 0;
   max-width: 16%;
   flex-basis: 16%;
}

@media only screen and (min-width: 0px) {
    .container {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        max-width: 30%;
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 16%;
        flex-basis: 16%;
    }
}

