.rating {
    color: #fff;
    width: 30px;
    border: 2px solid #f9ab00;
    height: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}