.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 34%;
    flex-basis: 34%;
 }

 @media only screen and (min-width: 0px) {
   .container {
       max-width: 100%;
       flex-basis: 100%;
   }
}

@media only screen and (min-width: 800px) {
   .container {
       max-width: 60%;
       flex-basis: 60%;
   }
}

@media only screen and (min-width: 1200px) {
   .container {
       max-width: 34%;
       flex-basis: 34%;
   }
}